.container {
  width: 80%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #220e96ff;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 18px;
}

table td {
  padding: 15px;
  font-size: 16px;
}

table tr {
  border-bottom: 1px solid #e0e0e0;
}
