body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background: #f2f2f2;
}

h1 {
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

th {
  background: #0073e6;
  color: white;
}