* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* halaman dashboard */
h1 {
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

th {
  background: #0073e6;
  color: white;
}

/* bootstrap style */

.bg-primary {
  background-color: #0073e6;
}

.bg-secondary {
  background-color: #efefef;
}

.bg-info {
  background-color: #00ffff;
}

.bg-warning {
  background-color: #dce230;
}

.bg-success {
  background-color: #0ccb0c;
}

.bg-danger {
  background-color: #ff4d4d;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.header {
  background-color: #ffffff;
  padding: 15px 30px;
  box-shadow: 1px 1px 10px 1px #c8c6c6;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.ms-5 {
  margin-left: 25px;
}

.me-5 {
  margin-right: 25px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-5 {
  padding: 25px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.w-50em {
  width: 50em;
}

.h-100 {
  height: 100%;
}

.vh-60 {
  height: 60vh;
}

.vh-65 {
  height: 65vh;
}

.vh-70 {
  height: 70vh;
}

.d-flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.border {
  border: 2px solid #c1c1c1;
}

.border-bottom {
  border-bottom: 2px solid #c1c1c1;
}

.border-radius-5 {
  border-radius: 5px;
}

.img-profile {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0ab80a;
  transition: ease-in-out 0.2s;
}

.btn-sm {
  padding: 5px;
}

.btn-lg {
  padding: 15px;
}

.btn-succes {
  background-color: #0ccb0c;
  color: #fff;
}

.profile-card {
  /* background-color: #cdcdcd; */
}
