:root {
  --primary: #0073e6;
  --secondary: #efefef;
  --warning: #d9df34;
  --success: #0ccb0c;
  --info: #00ffff;
  --danger: #f21a1a;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* halaman dashboard */
h1 {
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

th {
  background: var(--primary);
  color: var(--white);
}

/* bootstrap style */
.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-info {
  background-color: #00ffff;
  color: var(--white);
}

.bg-warning {
  background-color: var(--warning);
  color: var(--white);
}

.bg-success {
  background-color: var(--success);
  color: var(--white);
}

.bg-danger {
  background-color: var(--danger);
  color: var(--white);
}

.bg-dark {
  background-color: var(--black);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.bg-light {
  background-color: var(--white);
}

.header {
  background-color: var(--white);
  padding: 15px 30px;
  box-shadow: 1px 1px 10px 1px #c8c6c6;
  margin-bottom: 30px;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.ms-5 {
  margin-left: 25px;
}

.me-5 {
  margin-right: 25px;
}

.me-1 {
  margin-right: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-5 {
  padding: 25px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.w-50em {
  width: 50em;
}

.h-100 {
  height: 100%;
}

.vh-60 {
  height: 60vh;
}

.vh-65 {
  height: 65vh;
}

.vh-70 {
  height: 70vh;
}

.d-flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.border {
  border: 2px solid var(--secondary);
}

.border-bottom {
  border-bottom: 2px solid var(--secondary);
}

.border-radius-5 {
  border-radius: 5px;
}

.img-profile {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--success);
  transition: ease-in-out 0.2s;
}

.btn-sm {
  padding: 5px;
}

.btn-lg {
  padding: 15px;
}

.btn-succes {
  background-color: #0ccb0c;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
}

nav>li {
  display: inline;
  margin-right: 20px;
}

nav>li>a {
  text-decoration: none;
  color: #000;
}

nav>li>a:hover {
  text-decoration: none;
  color: var(--primary);
}

.container {
  padding: 0 50px;
}

.container-fluid {
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
}

.white-box {
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
}

.card {
  padding: 50px 30px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

/* kolom */
[class*="col-"] {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.666666667%;
}

.col-10 {
  width: 83.333333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.666667%;
}

.col-7 {
  width: 58.333333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.666666667%;
}

.col-4 {
  width: 33.333333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.666666667%;
}

.col-1 {
  width: 8.333333333%;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 24px;
}

.fs-24 {
  font-size: 24px;
}